*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
}

.alineado{
    display: flex;
    align-items: self-end;
    justify-content: center;
}

header{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3rem;
}

header>ul{
    display: flex;
    align-items: center;
}

header>ul>li{
    list-style: none;
    margin-right: 1.4rem;
    font-size: smaller;
}

header>ul>li:hover{
    text-decoration: underline;
    cursor: pointer;
   
}

#google-apps-logo{
    padding: 5px
}

#google-apps-logo:hover{
    background-color: #e8e8e9;
    border-radius: 50px;

}

.app-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-header>div{
    padding-right: 1rem;
}

#user{
    background-color: #01579b;
    height:32px ;
    width:32px ;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
}

#user>h3{
    padding-left: 13px;
}


main{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 33vw;
    height: 60vh;
    top: 20vh;

}

main>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>div>img{
    padding-bottom: 3rem;
    width: 17rem;
}

#buscador{
    border-radius: 39px;
    border: 1px solid white;
    width: 34rem;
    height: 2.5rem;

    box-shadow: 0px 0px 7px -1px #808080;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-buscador{
    padding: 0 1rem;
}

#buscador>p{
    color: grey;
    position: absolute;
    left: 6rem;
}

/* atajos */

#atajos-google{
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;

    align-items: center;
}

#atajos-google>div>img{
    background-color: #f1f3f4;
    padding: 13px;
    border-radius: 23px;
    margin-bottom: .5rem;
}

#atajos-google>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: small;

    
    height: 110px;
    width: 110px;

}

#atajos-google>div:hover{
    background-color: #e8e8e9;
    border-radius: 5px;
}

/* footer */
#footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 8px;
    color: #1a73e8;

    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0px 2px 3px -1px #808080;

    font-size: smaller;

    position: absolute;
    bottom: -41rem;
    right: 1rem;
    
}

#footer>img{
    margin-right: 10px;
    height: 15px;
}